@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Merriweather";
  color: var(--text);
}

:root { 
  --background: #1f004d;
  --primary: #1a003e;
  --text: #efe3ff;
  --link: #ac77f0;
  --button-hover: #4c00b7;
}

body {
  background-color: var(--background);
}
